In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['font.family'] = 'AppleGothic'
import warnings
warnings.filterwarnings('ignore')

df_temp = pd.read_excel('./Downloads/BigDataPjtData/평균기온.xlsx')
df_rain = pd.read_excel('./Downloads/BigDataPjtData/강수량.xlsx')
df_light = pd.read_excel('./Downloads/BigDataPjtData/일사량.xlsx')
df_wind = pd.read_excel('./Downloads/BigDataPjtData/순간최대풍속.xlsx')
df_humid = pd.read_excel('./Downloads/BigDataPjtData/습도.xlsx')
#평균온도(℃), 강수량(mm), 일사량(MJ/m2), 순간최대풍속(m/s), 습도(%)

In [2]:
df_temp['평균온도'] = (df_temp['충청남도'] + df_temp['경기도'] + df_temp['전라남도'] + df_temp['전라북도'])/4
df_rain['강수량'] = (df_rain['충청남도'] + df_rain['경기도'] + df_rain['전라남도'] + df_rain['전라북도'])/4
df_light['일사량'] = (df_light['충청남도'] + df_light['경기도'] + df_light['전라남도'] + df_light['전라북도'])/4
df_wind['순간최대풍속'] = (df_wind['충청남도'] + df_wind['경기도'] + df_wind['전라남도'] + df_wind['전라북도'])/4
df_humid['습도'] = (df_humid['충청남도'] + df_humid['경기도'] + df_humid['전라남도'] + df_humid['전라북도'])/4
df_humid.head()

        일자   충청남도    경기도   전라남도   전라북도       습도
0  2016-01  73.47  56.91  71.10  74.27  68.9375
1  2016-02  68.91  55.97  66.09  66.23  64.3000
2  2016-03  65.12  54.38  70.06  63.59  63.2875
3  2016-04  69.19  57.24  77.03  68.93  68.0975
4  2016-05  68.88  61.54  77.01  66.88  68.5775

In [3]:
df_temp['년'] = df_temp.iloc[:, 0].str[:4]
df_temp['월'] = df_temp.iloc[:, 0].str[5:]
df_temp.head()

        일자   충청남도    경기도   전라남도   전라북도     평균온도     년   월
0  2016-01  -1.64  -3.68   1.47  -1.05  -1.2250  2016  01
1  2016-02   0.88  -0.26   3.26   1.61   1.3725  2016  02
2  2016-03   6.09   6.31   7.30   6.56   6.5650  2016  03
3  2016-04  13.11  13.68  13.40  13.63  13.4550  2016  04
4  2016-05  18.29  18.63  17.84  18.52  18.3200  2016  05

In [4]:
df = pd.concat([df_temp.iloc[:, [6, 7, 5]], df_rain.iloc[:, 5], df_light.iloc[:, 5], df_wind.iloc[:, 5], df_humid.iloc[:, 5]], axis=1)
df = round(df, 2)
df

       년   월   평균온도      강수량     일사량  순간최대풍속     습도
0   2016  01  -1.23   198.10  209.30   15.40  68.94
1   2016  02   1.37   309.42  285.32   15.17  64.30
2   2016  03   6.56   348.70  446.80   13.45  63.29
3   2016  04  13.46  1074.22  456.60   19.61  68.10
4   2016  05  18.32   768.40  561.43   17.65  68.58
5   2016  06  22.07   499.58  496.12   11.38  77.91
6   2016  07  25.44  1751.38  459.44   13.52  83.70
7   2016  08  26.67   358.35  529.91   14.86  76.87
8   2016  09  21.83  1021.65  331.56   12.33  80.21
9   2016  10  16.48   972.42  252.46   13.98  79.55
10  2016  11   5.69    13.60    3.52    5.56  75.62
11  2016  12   2.68   378.30  201.64   14.61  71.26
12  2017  01  -0.51    92.30  243.36   14.93  67.96
13  2017  02   0.79   229.40  310.70   14.28  63.62
14  2017  03   5.63   137.95  451.58   15.09  60.24
15  2017  04  12.96   374.45  515.20   15.62  63.34
16  2017  05  17.83   216.60  605.78   14.53  65.54
17  2017  06  21.54   371.80  562.67   12.03  69.64
18  2017  07  25.56  1932.22  389.94   13.77  86.16
19  2017  08  24.93  1638.07  447.31   12.90  82.03
20  2017  09  20.20   581.42  425.96   12.20  77.18
21  2017  10  14.64   386.12  325.59   13.81  75.40
22  2017  11   6.09    82.57  231.09   14.36  67.86
23  2017  12  -1.39   202.60  183.87   13.72  66.77
24  2018  01  -2.85   185.68  220.63   13.88  66.15
25  2018  02  -0.92   208.90  296.37   15.54  57.02
26  2018  03   7.66   701.00  382.35   15.01  72.54
27  2018  04  12.62   886.08  490.30   16.81  68.12
28  2018  05  17.35   821.30  538.20   14.75  73.70
29  2018  06  21.67  1046.68  569.15   12.92  74.17
30  2018  07  26.06  1059.10  595.79   11.59  78.34
31  2018  08  27.31  1870.90  526.19   14.25  76.43
32  2018  09  20.48   834.75  433.96   12.26  76.16
33  2018  10  12.67   922.53  399.16   16.14  73.54
34  2018  11   7.44   321.33  272.72   13.65  72.22
35  2018  12   1.10   185.55  115.12   12.68  64.59
36  2019  01  -0.53    55.90  230.38   12.48  61.54
37  2019  02   1.40   219.35  312.39   12.82  61.76
38  2019  03   6.27   255.27  438.71   16.42  64.05
39  2019  04  11.26   350.68  483.92   13.86  64.95
40  2019  05  17.64   450.92  728.76   15.93  60.96
41  2019  06  20.20   832.03  603.42   12.08  75.78
42  2019  07  23.48  1527.95  486.94   13.53  81.05
43  2019  08  24.81   800.20  558.27   13.10  80.10
44  2019  09  21.60  1391.98  389.08   23.81  81.87
45  2019  10  15.52   764.92  402.13   12.86  76.74
46  2019  11   7.56   366.18  289.98   14.27  71.47
47  2019  12   2.37   195.80  219.30   14.02  71.27
48  2020  01   2.29   456.12  231.19   16.45  72.59
49  2020  02   3.03   357.58  315.63   14.83  72.59
50  2020  03   7.36   183.55  515.45   17.14  63.39
51  2020  04  10.02   239.62  614.58   16.38  59.92
52  2020  05  17.34   746.13  577.49   14.53  75.66
53  2020  06  22.11  1244.25  561.19   14.46  79.00
54  2020  07  22.58  1948.90  402.64   13.72  86.18
55  2020  08  26.40  2692.52  433.48   19.58  86.75
56  2020  09  20.32  1229.97  419.65   19.24  81.24
57  2020  10  13.72    76.72  425.55   12.71  70.97
58  2020  11   8.51   272.02  268.61   14.86  69.95
59  2020  12   0.34    79.28  249.46   13.84  66.98

In [5]:
df.to_csv('Downloads/BigDataPjtData/weather_final.csv')